* {
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial, sans-serif;
  background-color: #feffd2;
  color: #5c4033;
}

header {
  background-color: #fef3e2;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  flex-grow: 1;
}

nav ul li a {
  text-decoration: none;
  color: #b3541e;
  font-size: 1.5rem;
}

nav ul li a:hover {
  color: #f4a261;
}

.interview {
  padding: 3rem 0;
  text-align: center;
}

.interview h2 {
  color: #b3541e;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.interview-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.interview-image {
  width: 20%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.interview-text {
  text-align: left;
  max-width: 60%;
  line-height: 1.8;
}

.interview-text p {
  margin-bottom: 1rem;
}

.interview-text span {
  color: #b3541e;
  font-weight: bold;
}

footer {
  background-color: #fef3e2;
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h3 {
  color: #b3541e;
  margin: 1% 0;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer ul li a {
  text-decoration: none;
  color: #b3541e;
}

footer ul li a:hover {
  color: #f4a261;
}